@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/src/Assets/bitcoin3.jpg");
  background-size: cover;
  background-position: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: flex-start;

}



.aplicacao_moeda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
  color: #fff;
  padding: 0 5rem;
}

.procurar_moeda {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.titulo_app {
  margin-bottom: 32px;
  text-align: center;
  animation: cima_baixo 3s infinite;
  font-size: 3rem;
}

@keyframes cima_baixo {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}


.input_moeda {
  margin-bottom: 2rem;
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-image: linear-gradient(-225deg,
      #ff5733 0%,
      /* Vermelho */
      #ff8c33 48%,
      /* Laranja */
      #ffbb33 100%);
  /* Amarelo-alaranjado */

  color: #e2e2e2;
}


.input_moeda::placeholder {
  color: #e2e2e2;
}







/* Media queries */


@media (max-width: 697px) {
  .titulo_app {
    font-size: 2rem;
  }

  .input_moeda {
    width: 250px;
    font-size: 0.8rem;

  }
}


@media (max-width: 480px) {
  .titulo_app {
    font-size: 1.7rem;
  }

  .input_moeda {
    width: 215px;
    font-size: 0.6rem;

  }
}